<!DOCTYPE html>
    <head>
        <title>Book Reviewer</title>
    </head>
    <body>
        <h1>{{book_info.title}}</h1>
        <table>
            <tr>
                <td>IBSN#</td>
                <td>Title</td></a>
                <td>Author</td>
                <td>Publication Year</td>
            </tr>
            <tr>
                <td>{{book_info.isbn}}</td>
                
                <td>{{book_info.title}}</td>
                
                <td>{{book_info.author}}</td>
                <td>{{book_info.pub_year}}</td>
            </tr>
        </table>
        
        <div class="reviews">
            Reviews: </br>
            {% for review,user in reviews %}
            {{ user.username}}
            {{ review.review }}
        </br>
            {% endfor %}
        </div>
    </br>

        <div class="review">
            Write a review: 
            <form action="/review" method="post">
                <textarea name="content" id="content">Enter review here..</textarea>
                <input type="number" id="rating" placeholder="0-5" name="rating">
                <input type="hidden" value="{{book_info.isbn}}" id="ibsn" name="ibsn">
                <input type="submit">
            </form>
        </div>
    </body>
</html>