<!DOCTYPE html>
    <head>
        <title>Book Reviewer</title>
    </head>
    <body>
        <h1>{{book_info.title}}</h1>
        <table>
            <tr>
                <td>IBSN#</td>
                <td>Title</td></a>
                <td>Author</td>
                <td>Publication Year</td>
            </tr>
            <tr>
                <td>{{book_info.isbn}}</td>
                
                <td>{{book_info.title}}</td>
                
                <td>{{book_info.author}}</td>
                <td>{{book_info.pub_year}}</td>
            </tr>
        </table>
    </body>
</html>