{% extends "layout.html" %}
{% block content %}
        <h2>{{book_info.title}}</h2>
        <div class="book_infos">

            <box class="a">
            ISBN#: </br>
            {{book_info.isbn}}
            </box>
            <box class="b">
            Title:</br>
            {{book_info.title}}
            </box>
            <box class="c">
            Author:   </br>
            {{book_info.author}}
            </box>

            
            <box class="a">
                Publication Year</br>
                {{book_info.pub_year}}
            </box>
            <box class="b">
                Goodreads Rating:</br>
                {{ avg_rating }}
            </box>
            <box class="c">
                Goodreads Number of Reviews::</br>
                {{ ratings_count }}
            </box>
        </div>
        
        <div class="reviews">
            Reviews: </br>
            {% for review,user in reviews %}
            {{ user.username}}
            {{ review.review }}
        </br>
            {% endfor %}
        </div>
    </br>

        <div class="review">
            Write a review: 
            <form action="/review" method="post">
                <textarea class="review_text"name="content" id="content" placeholder="Enter review here..."></textarea>
                <input type="number" id="rating" placeholder="0-5" name="rating">
                <input type="hidden" value="{{book_info.isbn}}" id="isbn" name="isbn">
                <input type="submit">
            </form>
        </div>
{% endblock %}